/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'Open Sans', sans-serif; background: url("../images/bg.jpg") top center no-repeat #fff; color:#333; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font:14px 'Open Sans', sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'Open Sans', sans-serif; color:#333; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
	font-family: 'SkodaPro_Bold';
	src: url('../fonts/SkodaPro-Bold.eot');
	src: url('../fonts/SkodaPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SkodaPro-Bold.woff') format('woff'),
	url('../fonts/SkodaPro-Bold.ttf') format('truetype'),
	url('../fonts/SkodaPro-Bold.svg') format('svg');
}
@font-face {
	font-family: 'SkodaPro_ExtraBold';
	src: url('../fonts/SkodaPro-ExtraBold.eot');
	src: url('../fonts/SkodaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SkodaPro-ExtraBold.woff') format('woff'),
	url('../fonts/SkodaPro-ExtraBold.ttf') format('truetype'),
	url('../fonts/SkodaPro-ExtraBold.svg#SkodaPro_ExtraBold') format('svg');
}
@font-face {
	font-family: 'SkodaPro_Light';
	src: url('../fonts/SkodaPro-Light.eot');
	src: url('../fonts/SkodaPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SkodaPro-Light.woff') format('woff'),
	url('../fonts/SkodaPro-Light.ttf') format('truetype'),
	url('../fonts/SkodaPro-Light.svg#SkodaPro_Light') format('svg');
}
@font-face {
	font-family: 'SkodaPro_Medium';
	src: url('../fonts/SkodaPro-Medium.eot');
	src: url('../fonts/SkodaPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SkodaPro-Medium.woff') format('woff'),
	url('../fonts/SkodaPro-Medium.ttf') format('truetype'),
	url('../fonts/SkodaPro-Medium.svg#SkodaPro_Medium') format('svg');
}
@font-face {
	font-family: 'SkodaPro_Regular';
	src: url('../fonts/SkodaPro-Regular.eot');
	src: url('../fonts/SkodaPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SkodaPro-Regular.woff') format('woff'),
	url('../fonts/SkodaPro-Regular.ttf') format('truetype'),
	url('../fonts/SkodaPro-Regular.svg') format('svg');
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.custom-footer {
	overflow: hidden;
	min-height: 100%;
	padding-top: 20px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.custom-footer:after {
	content: '';
	display: block;
	width: 100%;
	height: 89px;
}
.shadow {
	padding: 4px 0;
	margin-bottom: 15px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: rgba(0, 0, 0, .6);
}
.wrap {
	overflow: hidden;
	width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
	overflow: hidden;
}
	.header .left {
		float: left;
		display: table;
	}
		.main-logo,
		a.main-logo {
			display: table-cell;
			padding-right: 20px;
			vertical-align: middle;
		}
		.header h1 {
			display: table-cell;
			font: 24px 'SkodaPro_ExtraBold';;
			color: #fffefe;
			vertical-align: middle;
		}
	.btn-login {
		position: relative;
		float: right;
		padding: 11px 20px 12px 50px;
		background: url("../images/header/btn_login.jpg") repeat-x;
		border: none;
		color: #fff;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 400;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.btn-login:before {
		content: '';
		display: block;
		position: absolute;
		top: 6px;
		left: 11px;
		width: 28px;
		height: 28px;
		background: url("../images/header/icon_login.png") no-repeat;
	}
	.btn-login:hover {
		text-decoration: none;
	}
	.bread-crumbs {
		overflow: hidden;
	}
		.bread-crumbs li {
			float: left;
			padding-right: 20px;
			margin-right: 10px;
			background: url("../images/header/triagle_right.png") no-repeat right center;
		}
		.bread-crumbs li:last-child {
			background: none;
		}
			.bread-crumbs a,
			.bread-crumbs span {
				color: #fff;
			}
			

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
	overflow: hidden;
    border: 1px solid #ccc;
    background: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.side-menu {
	float: left;
	width: 310px;
	margin-right: 20px;
	border: 1px solid #ccc;
	background: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	.side-menu li {
		position: relative;
	}
		.side-menu > li:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 5px;
			width: 100%;

			-webkit-box-shadow: inset 0px -4px 4px -1px rgba(51,51,51,0.2);
			-moz-box-shadow: inset 0px -4px 4px -1px rgba(51,51,51,0.2);
			box-shadow: inset 0px -4px 4px -1px rgba(51,51,51,0.2);
		}
		.sub-menu-side {
			display: none;
		}
		.active-block .sub-menu-side {
			display: block;
		}
		.active .sub-menu-side {
			-webkit-box-shadow: inset 0px 4px 4px -1px rgba(51,51,51,0.45);
			-moz-box-shadow: inset 0px 4px 4px -1px rgba(51,51,51,0.45);
			box-shadow: inset 0px 4px 4px -1px rgba(51,51,51,0.45);
		}
			.side-menu .main-item {
				display: block;
				padding: 5px 5px 5px 40px;
				color: #fff;
				font: 16px 'SkodaPro_Medium';
				background: #1b9f50 url("../images/content/menu_icon.png") no-repeat 10px 8px;
				border-left: 1px solid #43d16a;
				border-top: 1px solid #43d16a;
				border-right: 1px solid #289741;
				border-bottom: 1px solid #289741;
				cursor: pointer;

				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
			}
			.side-menu .active .main-item {
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
				color: #333;
				border: 1px solid #fff;
				background: url("../images/content/menu_icon_active.png") no-repeat 10px 8px;
			}
			.sub-menu-side {
				-webkit-box-shadow: inset 0px 2px 3px 0px rgba(153,153,153,0.2);
				-moz-box-shadow: inset 0px 2px 3px 0px rgba(153,153,153,0.2);
				box-shadow: inset 0px 2px 3px 0px rgba(153,153,153,0.2);
			}
				.sub-menu-side li {
					border-bottom: 1px solid #d9d9d9;
				}
					.sub-menu-side a {
						display: block;
						color: #333;
						padding: 5px 5px 5px 40px;
						font: 16px 'SkodaPro_Medium';
						text-decoration: none;

						-webkit-transition: 0.3s;
						transition: 0.3s;
					}
					.sub-menu-side a:hover {
						background: #ceddec;
					}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
	margin-top: -89px;
	border-top: 1px solid #D9D9D9;
}
	.footer {
		overflow: hidden;
		padding: 20px 0;
		color: #959595;
		font-size: 12px;
	}
		.contact-box {
			float: left;
		}
			.contact-box span {
				display: block;
				line-height: 1.2;
			}
		.footer .right {
			float: right;
			overflow: hidden;
			text-align: right;
		}
			.footer-logo {
				float: left;
			}
			.footer .right a {
				overflow: hidden;
				display: inline-block;
				color: #3b79b5;
				font-size: 12px;
			}
			.footer .right .link {
				margin-bottom: 6px;
			}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 2000px) {
	body {
		background-size: 100% 100%;
	}
}